<%= render partial: '/shared/top' %>

<main id="about" class="container">
  <% flash.each do |type, msg| %>
    <% if type == "error" %>
      <%= content_tag :div, msg, class: "alert alert-danger" %>
    <% else %>
      <%= content_tag :div, msg, class: "alert alert-success" %>
    <% end %>
  <% end %>
  <div class="row section-header">
    <div class="col-sm-12 text-center">
      <% if assigned_user_same_as_current?(@user) %>
        <h1>Your profile</h1>
      <% else %>
        <h1>About <%= @user.full_name %>
      <% end %>
    </div>
  </div>
  <div class="row about-content">
    <div class="col-sm-4 col-sm-offset-1">
      <div class="row">
        <div class="col-sm-12">
          <h3>Basic Information</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <strong>Birthday:</strong>
        </div>
        <div class="col-sm-7">
          <%= @user.formatted_birthday %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <strong>School:</strong>
        </div>
        <div class="col-sm-7">
          <%= @profile.college %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <strong>Hometown:</strong>
        </div>
        <div class="col-sm-7">
          <%= @profile.hometown %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <strong>Currently Lives:</strong>
        </div>
        <div class="col-sm-7">
          <%= @profile.residence %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>Contact Information</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <strong>Email:</strong>
        </div>
        <div class="col-sm-7">
          <%= @user.email %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <strong>Phone number:</strong>
        </div>
        <div class="col-sm-7">
          <%= @profile.phone_number %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-1">
      <div class="row">
        <div class="col-sm-9">
          <h3>Words to Live By</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <p><%= @profile.quotes %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <h3>About Me</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
        <p><%= @profile.about %></p>
      </div>
    </div>
  </div>
</main>
