<%= form_for [:user, @profile] do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- text entry fields -->
    <div class="field">
      <%= f.text_field :college, placeholder: "Enter your college here", class: "col-sm-6 form-group"  %>
    </div>
      <%= f.submit "Sign Up!", class: "btn btn-success col-sm-12" %>
    </div>



    </div>

<% end %>
