<!-- container for all content below nav -->
<header class="container">

<!-- all content goes into this one row below nav -->
  <div class="row">

  <!-- col where landing message lives, left side -->
    <section class="col-sm-12 content">
      <%= image_tag("fuyuki.png", :alt => "Cover Image", :class => "cover-img") %>
    </section>

    <!-- col where signup form lives, right side -->
    <div class="col-sm-12 signup-wrapper">
      <!-- container-fluid to keep size 5 units -->
      <div class="container-fluid">
        <div class="row">

          <%= image_tag("rin.png", :alt => "Profile Picture", :class => "profile-img") %>

          <ul class="nav nav-tabs">
            <li role="presentation" class="col-sm-offset-3 profile-name">
              <%= link_to User.find(params[:user_id]).first_name + ' ' + User.find(params[:user_id]).last_name, user_timeline_path %>
            </li>
            <li role="presentation" class="col-sm-offset-3">
              <%= link_to "Timeline", user_timeline_path(params[:user_id]) %>
            </li>
            <li role="presentation">
              <%= link_to "About", user_profile_path(params[:user_id]) %>
            </li>
            <li role="presentation">
              <%= link_to "Photos (123)", user_photos_path(params[:user_id]) %>
            </li>
            <li role="presentation">
              <%= link_to "Friends (542)", user_friends_path(params[:user_id]) %>
            </li>
            <li role="presentation" class="col-sm-offset-3 pull-right">
              <% if params[:user_id] == current_user.id.to_s %>
                <%= link_to "Edit your Profile", edit_user_profile_path(current_user.id) %>
              <% end %>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</header>
