<p id="notice"><%= notice %></p>

<p>
  <strong>User ID:</strong>
  <%= @photo.user_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @photo.data.url %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
